* text=auto !eol
images/vertebres-16.png -text
images/vertebres-32.png -text
lang/paquet-vertebres.xml -text
lang/paquet-vertebres_en.php -text
lang/paquet-vertebres_sk.php -text
lang/vertebres.xml -text
lang/vertebres_en.php -text
lang/vertebres_fr.php -text
lang/vertebres_sk.php -text
prive/squelettes/contenu/vertebres.html -text
prive/squelettes/top/vertebres.html -text
public/vertebrer.php -text
/vertebres_pipelines.php -text
