* text=auto !eol
images/vertebres-16.png -text
images/vertebres-32.png -text
lang/vertebres_fr.php -text
prive/squelettes/contenu/vertebres.html -text
prive/squelettes/top/vertebres.html -text
public/vertebrer.php -text
/vertebres_pipelines.php -text
